.mod-list {
	display: table;
	height: auto;
	overflow: hidden;
	border-collapse: collapse;

}
.mod-item {
	display: table-cell;
	width: 250px;
	height: 350px;
	padding: 10px;
	border: 1px solid #eaeaea;
	font-size: 2.6em;
	line-height: 1.5em;

	img {
		width: 100%;
	}
	.tagitem {
		padding-top: 8px;
	}
	.title {

		font-weight: bold;
	}
	.price {
		font-weight: bold;
		i {
			color: #f00;
			font-style: normal;
			font-size: 1.4em;
			padding: 0 3px;
		}
	}
	.desc {

	}
	.btn-group {

	}
}